@import './../../variables.scss';

.navigation {
     width: 100vw;
     height: 14vh;
     display: flex;
     background-color: rgba($color-silver, .2);
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     padding: 0 1rem;
     box-shadow: 0 1px 15px -5px;

     @include respond(tab-port) {
          width: 60vw;
          height: 10vh;
     }
     @include respond(tab-land) {
          width: 40vw;
          height: 10vh;
     }
     &__logo {
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          width: 10rem;
     }
     &__table-info {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          width: 100%;
     }
     &__number-of-players {
          font-size: .8rem;
     }
     &__table-name {
          font-size: 1.2rem;
          width: 40vw;
          display: inline-block;
          text-align: center;
          margin-bottom: .5rem;
          @include respond(tab-port) {
               width: 20vw;
          }
          @include respond(tab-land) {
               width: 10vw;
          }
     }
     &__close {
          width: 7rem;
          display: flex;
          justify-content: center;
     }
}

// PLAYER BOARD
.popup {
     position: fixed;
     width: 100vw;
     height: 100vh;
     background-color: rgba($color-silver, 0.822);
     z-index: 10;
     &__container {
          position: absolute;
          width: 50vw;
          height: 40vh;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          box-shadow: 1px 2px 10px 1px;
          background-color: $color-white;
          padding: 1rem;
     }
     &__text {
          font-size: 1.5rem;
          font-weight: 200;
          text-align: center;
     }
     &__close {
          position: absolute;
          top: 0;
          right: 0;
     }
}

.lower-container {
     position: absolute;
     bottom: 10vh;
     height: 10vh;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 100vw;
     align-items: center;
     padding: 0 1rem;
     font-weight: 100;

     @include respond(tab-port) {
          width: 60vw;
          height: 8vh;
     }
     @include respond(tab-land) {
          width: 40vw;
          height: 8vh;
     }

     &__player {
          line-height: 2rem;
          text-align: center;
     }
     &__player-name {
          text-align: center;
          font-weight: 400;
          max-width: 20vw;
     }
}

// ADMIN BOARD
.playboard {
     position: relative;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     max-height: 40vh;
     justify-content: center;
     align-content: space-between;

}

.player {
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border: 2px solid $color-black;
     border-radius: 5px;
     &__container {
          margin: 0 1.2rem;
          width: 3.5rem;
     }
     &__name {
          margin: .5rem auto;
          font-size: 1rem;
          font-weight: 300;
          text-align: center;
          &__order {
               font-weight: 400;
               font-size: .8rem;
          }
          &__admin {
               font-size: .6rem;
          }
     }
  
     &__active {
          background-color: $color-green;
     } 
     &__inactive {
          background-color: $color-silver;
     }
     &__svg {
          justify-content: center;
     }
}
.waiting {
     display: flex;
     flex-direction: column;
     align-items: center;
     position: absolute;
     top: 50%;
     &__text {
          font-size: 2rem;
          font-weight: 200;
     }

     &__icon {
          margin-top: 2rem;
          display: block;
          text-align: center;
          width: 3rem;
     }
}
.admin-settings {
     position: absolute;
     bottom: 25vh;
     height: 20vh;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;

     
    
     &__btn-text-secondary {
          font-size: .6rem;
     }
     &__btn {
          padding: .5rem 1rem;
          font-size: .7rem;
          background-color: $color-secondary;
          color: $color-black;
          &--sub {
               background-color: transparent;
               border-color: $color-secondary-dark;
               color: $color-secondary-dark;
          }
     }
}
.btn-end {
     position: absolute;
     bottom: 15vh;
     z-index: 10;
}

// footer
.footer {
     width: 100vw;
     background-color: $color-silver;
     height: 10vh;
     position: absolute;
     bottom: 0;
     display: flex;
     justify-content: center;
     align-items: center;

     @include respond(tab-port) {
          width: 60vw;
          height: 8vh;
     }
     @include respond(tab-land) {
          width: 40vw;
          height: 8vh;
     }
     &-active {
          background-color: $color-green;
     }
     &__info {
          margin-left: 1rem;
          max-width: 30vw;
     }
}
.shorten-name {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}
