<div class="main-container">
          
          <ng-container *ngFor="let set of settings">
               <ng-container *ngIf="set.popup === true && set.admin !== playerName">
                         <div class="popup">
                    <div class="popup__container">
                         <div class="popup__text">
                              {{set.popupText}}
                         </div>
                         <svg-icon class="btn-svg popup__close" (click)="leaveTable()" src="assets/icons/baseline-clear-24px.svg" 
                    [svgStyle]="{ 'width.px':30, 'height.px':30, 'fill':'rgb(0,0,0)' }">  
                          </svg-icon>
                    </div>
                    </div>
               </ng-container>
          </ng-container>
         

          <!-- navigation -->
     <ng-container *ngFor="let set of settings">
          <nav>
               <p class="table-name">Table name: {{set.tableName}}
                    <span class="number-of-players">[{{set.numOfPlayers}}] players</span>
               </p>
               <svg-icon class="btn-svg" (click)="leaveTable()" src="assets/icons/baseline-clear-24px.svg" 
                    [svgStyle]="{ 'width.px':30, 'height.px':30, 'fill':'rgb(0,0,0)' }">  
               </svg-icon>
          </nav>
     </ng-container>
     
          
  

     <!-- admin board -->
     <ng-container *ngIf="isAdmin === 'true' ">
          <div class="playboard">
               <ng-container *ngFor="let pl of players">
                    <div class="player-container"
                         (click)="order(pl.playerName)">
                         
                         <p class="player-name"
                              >{{pl.playerName}}</p>
                         <ng-container *ngFor="let set of settings">
                              <div [ngClass]="{'player-inactive': set.activePlayer !== pl.playerName, 'player-active': set.activePlayer === pl.playerName}" 
                              class="player"
                              >

                              <svg-icon src="assets/icons/baseline-person-24px.svg"
                              [svgStyle]="{ 'width.px':30, 'height.px':30 }"
                              class="player-svg">
                              </svg-icon>
                              </div>
                         </ng-container>
                         <p class="player-name">
                              No. [{{pl.order}}]
                         </p>
                         <p class="player-name" *ngIf="pl.isAdmin === true">[admin]</p>
                    </div>
               </ng-container>
          </div>
               <ng-container *ngIf="gameStatus === 'waiting'">
                    <button (click)="startGame()" class="btn">START GAME</button>
                    <button (click)="startGame(true)" class="btn">START GAME <br> pick random starting player</button>
               </ng-container>
               
               <button (click)="endGame()" *ngIf="gameStatus === 'started'" class="btn">END GAME</button>

               <ngb-alert [type]="info" (close)="close(alert)">[ADMIN] klikaj na graczy aby ustalić kolejność</ngb-alert>

         
     </ng-container>

     <ng-container *ngFor="let set of settings" >
          <ng-container *ngIf="set.activePlayer === playerName">
              <app-countdown (countdownProps)="shiftPlayers($event)"></app-countdown>
          </ng-container>
          <div class="waiting" *ngIf="set.activePlayer !== playerName">
               Czekaj na swój ruch
          </div>
     </ng-container>

     <div class="lower-container">
          <div class="lower-container__player">
                    Active player:
               <div class="lower-container__player-name">
                    <ng-container *ngFor="let set of settings">
                         {{set.activePlayer}}
                    </ng-container>
               </div>
          </div>
          <div class="lower-container__player">
                         Next player:
               <div class="lower-container__player-name">
                    <ng-container *ngFor="let set of settings">
                         {{set.nextPlayer}}
                    </ng-container>
               </div>
          </div>
     </div>
     

     <!-- footer -->
     <ng-container *ngFor="let set of settings">
          <div 
               class="footer" 
               [ngClass]="{'footer-active': set.activePlayer === playerName}" >
               Player name: {{playerName}} 
               <span *ngIf="set.activePlayer === playerName">ACTIVE]</span>
          </div>
     </ng-container>
</div>