<div class="main-container">
          <ng-container *ngFor="let set of settings">
               <ng-container *ngIf="set.gameStatus === 'ready' && set.admin !== playerName">
                         <div class="popup">
                    <div class="popup__container">
                         <div class="popup__text">
                              {{set.popupText}}
                         </div>
                         <svg-icon class="btn-svg popup__close" (click)="leaveTable()" src="assets/icons/baseline-clear-24px.svg" 
                    [svgStyle]="{ 'width.px':30, 'height.px':30, 'fill':'rgb(0,0,0)' }">  
                          </svg-icon>
                    </div>
                    </div>
               </ng-container>
          </ng-container>
         
          <!-- navigation -->
     <ng-container *ngFor="let set of settings">
          <nav class="navigation">
               <img src="./../../assets/icons/logo_transparent.png" alt="logo" class="navigation__logo">
               <div class="navigation__table-info">
                    <p class="text-medium">Nazwa stołu: 
                    </p>
                    <p class="navigation__table-name text-bold shorten-name">{{set.tableName}}</p>
                    <span class="navigation__number-of-players">max {{set.numOfPlayers}} graczy</span>
               </div>
               <div class="navigation__close">
                    <svg-icon class="btn-svg" (click)="leaveTable()" src="assets/icons/baseline-clear-24px.svg" 
                    [svgStyle]="{ 'width.px':40, 'height.px':40, 'fill':'rgb(0,0,0)' }"></svg-icon>
               </div>
          </nav>
     </ng-container>

     <!-- admin board -->
     <ng-container *ngIf="isAdmin === 'true' ">
          <div class="playboard">
               <ng-container *ngFor="let pl of players">
                    <div class="player__container" (click)="order(pl.playerName)">
                         <p class="player__name shorten-name">{{pl.playerName}}</p>
                         <ng-container *ngFor="let set of settings">
                              <div [ngClass]="{'player__inactive': set.activePlayer !== pl.playerName, 'player__active': set.activePlayer === pl.playerName}" 
                              class="player">
                                   <svg-icon src="assets/icons/baseline-person-24px.svg"
                                   [svgStyle]="{ 'width.px':30, 'height.px':30, 'fill':'rgb(250,250,250)' }"
                                   class="player__svg">
                                   </svg-icon>
                              </div>
                         </ng-container>
                         <p class="player__name player__name__order">- {{pl.order}} - </p>
                         <p class="player__name player__name__admin" *ngIf="pl.isAdmin === true">[admin]</p>
                    </div>
               </ng-container>
          </div>
          <ng-container *ngFor="let set of settings">
               <div class="admin-settings">
                    <ng-container *ngIf="set.gameStatus === 'ready'" >
                         <button (click)="startGame()" class="btn admin-settings__btn">START</button>
                         <button (click)="startGame(true)" class="btn admin-settings__btn admin-settings__btn--sub">START<br> <span class="admin-settings__btn-text-secondary">wybierz losowego gracza</span> </button>
                    </ng-container>
               </div>
          </ng-container>
     </ng-container>

     <ng-container *ngFor="let set of settings">
          <ng-container class="waiting" *ngIf="set.activePlayer === playerName && set.gameStatus === 'started'">
              <app-countdown (countdownProps)="shiftPlayers($event)" [timePerRound]="timePerRound"></app-countdown>
          </ng-container>
          <div class="waiting" *ngIf="set.activePlayer !== playerName && set.gameStatus === 'started'">
               <p class="waiting__text">Czekaj na swój ruch</p> 
               <img src="./../../assets/icons/baseline-hourglass_empty-24px.svg" alt="hourglass" class="waiting__icon">
          </div>
     </ng-container>

     <!-- <ngb-alert [type]="info" (close)="close(alert)">[ADMIN] klikaj na graczy aby ustalić kolejność</ngb-alert> -->

     <div class="lower-container">
          <div class="lower-container__player ">
                    Aktywny gracz:
               <div class="lower-container__player-name shorten-name" *ngFor="let set of settings">
                         {{set.activePlayer}}
               </div>
          </div>
          <div class="lower-container__player">
                         Następny gracz:
               <div class="lower-container__player-name shorten-name" *ngFor="let set of settings">
                         {{set.nextPlayer}}
               </div>
          </div>
     </div>

     <!-- footer -->
     <ng-container *ngFor="let set of settings">
          <div class="footer" [ngClass]="{'footer-active': set.activePlayer === playerName}">
               Nick: <span class="text-bold footer__info shorten-name"> {{playerName}}</span>
               <span *ngIf="set.activePlayer === playerName" class="footer__info"> - AKTYWNY - </span>
          </div>
          <ng-container *ngIf="set.isDestroyed">
               {{ deleteWidget() }}
          </ng-container>
     </ng-container>
</div>