<app-main-widget
  *ngIf="currentPage === 'main-widget' "
  (toggleWidgets)="changeWidget($event)"
></app-main-widget>

<app-create-team
  *ngIf="currentPage === 'create' || currentPage === 'join' "
  (toggleWidgets)="changeWidget($event)"
  (propsCreateTeam)="reciveProps($event)"
  [currentPage]= "currentPage"
></app-create-team>

<app-player-board
  *ngIf="currentPage === 'player' "
  (toggleWidgets)="changeWidget($event)"
>
</app-player-board>

<div *ngIf="currentPage === 'error-table-name' ">table name is occupied</div>
<div *ngIf="currentPage === 'error-player-name' ">player name is occupied</div>