<ng-container *ngIf="spinnerStatus === 'off' ">
<div
  *ngIf="currentPage === 'join' || currentPage === 'create' "
  class="main-container create-team">

  <h2 class="create-team__label" *ngIf="currentPage === 'create' ">CREATE</h2>
  <h2 class="create-team__label" *ngIf="currentPage === 'join' ">JOIN</h2>

  <div class="create-team__inputs">
      <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="tableName" type="text" placeholder="Wpisz nazwę stołu">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="playerName" type="text" placeholder="Podaj swój nick">
      </mat-form-field>  
  </div>

  <ng-container *ngIf="currentPage === 'create' ">
    <div class="create-team__slider">
      <mat-form-field class="mat-form-field-container">
        <mat-select [(ngModel)]="numOfPlayers" placeholder="podaj liczbę graczy" class="mat-select-container">
          <mat-option *ngFor="let player of playersArray" [value]="player">
            {{player}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="create-team__time">
      <mat-form-field class="mat-form-field-container">
        <mat-select [(ngModel)]="timePerRound" placeholder="czas rundy" class="mat-select-container">
          <mat-option *ngFor="let min of minutes" [value]="min">
            {{min}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </ng-container>

  <button class="btn create-team__btn" (click)="createTeam()">
    WYŚLIJ
  </button>

  <svg-icon class="btn-svg create-team__arrow" (click)="changeWidget('main-widget')" src="assets/icons/baseline-arrow_back-24px.svg" [svgStyle]="{ 'width.px':30, 'height.px':30, 'fill':'rgb(0,0,0)' }">  </svg-icon>
</div>
</ng-container>

<!-- spinner -->
<div *ngIf="spinnerStatus === 'on' " class="spinner-container">
  <mat-spinner color="accent"></mat-spinner>
</div>