<ng-container *ngIf="spinnerStatus === 'off' ">
<div
*ngIf="currentPage === 'join' || currentPage === 'create' "
class="main-container">
  <p>
    TURN TIMER
  </p>
  <br><br>

  <p *ngIf="currentPage === 'create' ">CREATE</p>
  <p *ngIf="currentPage === 'join' ">JOIN</p>

  <input [(ngModel)]="tableName" type="text" placeholder="Wpisz nazwę stołu">
  <br><br>
  <input [(ngModel)]="playerName" type="text" placeholder="Podaj swój nick">
  <br><br>

<div *ngIf="currentPage === 'create' ">
  <p>Podaj liczbę graczy</p>
  <mat-slider min="0" max="8" step="1" value="1" thumbLabel [(ngModel)]="numOfPlayers"></mat-slider>
</div>

<button class="btn"(click)="createTeam()">
  wyślij
</button>
  <br><br>
  <svg-icon class="btn-svg" (click)="changeWidget('main-widget')" src="assets/icons/baseline-arrow_back-24px.svg" [svgStyle]="{ 'width.px':30, 'height.px':30, 'fill':'rgb(255,255,255)' }">  </svg-icon>
</div>
</ng-container>

<!-- spinner -->
<div *ngIf="spinnerStatus === 'on' " class="spinner-container">
  <mat-spinner color="accent"></mat-spinner>
</div>


