.join-team {
     background-color: rgb(78, 158, 131);
     width: 100vw;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     align-content: space-between;
}