.middle-container {

     position: absolute;
     top: 65%;
     transform: translate(-50%, -50%);
     width: 50vw;
     height: 30vh;
     font-weight: 100;
     display: flex;
     flex-direction: column;
     align-items: center;

     &__label {
          margin-bottom: 1rem;
     }
     &__time {
          font-size: 3rem;
          margin-bottom: 2rem;
     }
     &__stop-button {
          border-radius: 5px;
          background-color: rgb(240, 8, 27);
          color: white;
          font-size: 1.5rem;
          padding: 1rem;
     }

}