<div class="middle-container">
  <div class="middle-container__label">
      Czas do końca rundy: 
  </div>
  <div class="middle-container__time" >
    <ng-container *ngIf="currentMinutes !== undefined">
        {{currentMinutes | timeFormat}} : {{currentSeconds | timeFormat}}
    </ng-container>  
    <ng-container *ngIf="currentMinutes === undefined">
        czekaj
    </ng-container>
  </div>
  <button class="middle-container__stop-button" (click)="clearCountdown()">
      ZAKOŃCZ RUCH
  </button>
</div>