.btn {
     background-color: inherit;
     border: 2px solid white;
     padding: 10px 25px;
     color: white;
}
.btn-svg {
     width: 10vw;
     height: 10vh;
     // background-color: red;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.main-container {
    
     background-color: rgb(10, 47, 68);
     width: 100vw;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     align-content: space-between;
     
}

p {
     color: white;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";