
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './variables.scss';

@font-face {
     font-family: 'Nunito';
     src: url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,700&display=swap&subset=latin-ext')
}
* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Nunito', sans-serif;
     font-size: 15px;
     @include respond(phone-small) {
          font-size: 14px;
     }
     @include respond(phone-large) {
          font-size: 16px;
     }
}
body  {
     height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 0;
}
.btn {
     background-color: inherit;
     border: 2px solid $color-black;
     padding: .8rem 1.5rem;
     color: $color-black;
     border-radius: .3rem;
     font-size: 1rem;
     @include respond(tab-port) {
          padding: 1rem 1.7rem;
     }
}
.btn-svg {
     width: 10vw;
     height: 10vh;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}
.main-container {
     background-color: $color-white;
     position: relative;
     width: 100vw;
     height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     @include respond(tab-port) {
          width: 60vw;
          height: 100vh;
          box-shadow: 1px 3px 10px 0;
     }
     @include respond(tab-land) {
          width: 40vw;
          height: 90vh;
          box-shadow: 1px 3px 10px 0;
     } 
}
.spinner-container {
     position: absolute;
     width: 100vw;
     height: 100vh;
     background-color: $color-white;
     z-index: 10;
     display: flex;
     align-items: center;
     justify-content: center;
     top: 0;
     left: 0;
}
p {
     color: $color-black;
}
h1 {
     font-size: 3rem;
     position: absolute;
     top: 8rem;
     font-weight: 300;
}
h2 {
     font-size: 2rem;
     font-weight: 100;
}
.logo {
     width: 20rem;
     margin-bottom: 4rem;
}
.text-bold {
     font-weight: 700;
}
.text-medium {
     font-weight: 300;
}