$color-white: rgb(248, 248, 248);
$color-silver: #BFC0C0;
$color-red: #e74c3c;
$color-green: #2ecc71;
$color-black: rgb(0, 0, 0);

$color-primary: #3498db;
$color-primary-light: #aec2ee;
$color-primary-dark: #2980b9;
$color-secondary: #7181de;
$color-secondary-dark: #223394;
